<% if (reporting && useMongoose) { %>
    <form action="/reporting/mongoose/cart" method="POST">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product._id %>">
    </form>
<% } else if (reporting && !useMongoose) { %>
    <form action="/reporting/cart" method="POST">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product._id %>">
    </form>
<% } else { %>
    <form action="/cart" method="POST">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>">
    </form>
<% } %>
