.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.form-control {
    margin: 1rem 0;
    width: 100%;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid #00ED00;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    color: black;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 3px;
}

button:hover,
button:active {
    background-color: #494949;
    color: white;
}